<style>
div.debug_panel { margin: 10px; padding: 10px; border: #00F 1px solid; background-color: #34B0E3; }
div.debug_panel div.title { font-family: Arial; font-size: 10pt; font-weight: bold; padding-left: 5px; padding-bottom: 10px; margin: 0px; }
div.debug_panel div.message { font-family: Courier; font-size: 10pt; padding: 10px; margin: 0px; background-color: #FEFEFE; border: 1px solid #0B76B0; }
</style>
<div class="debug_panel">
<div class="title">Debug message</div>
<div class="message"><pre><?php print_r($var); ?></pre></div>
</div>