<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>BIKE</title>
    <meta name="description" content="">
    <meta name="author" content="jagermesh">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href="{br}3rdparty/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{br}3rdparty/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{br}3rdparty/humane-js/themes/jackedup.css" rel="stylesheet">
    <link href="{br}css/breeze.css" rel="stylesheet">

    <link rel="shortcut icon" href="{/}images/favicon.ico">

<!-- 
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
-->
 
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{br}3rdparty/jquery/jquery-1.7.1.min.js"><\/script>')</script>
    
    <script src="{br}3rdparty/bootstrap/js/bootstrap.min.js"></script>
    <script src="{br}3rdparty/mustache/mustache.min.js"></script>
    <script src="{br}3rdparty/humane-js/humane.min.js"></script>
    <script src="{br}js/breeze.js"></script>

{:/}
    <link href="{/}js/codemirror/lib/codemirror.css" rel="stylesheet">
    <script src="{/}js/codemirror/lib/codemirror.js"></script>
    <script src="{/}js/codemirror/mode/mysql/mysql.js"></script>
    <script src="{/}js/queryEditor.js"></script>
    <script src="{/}js/query.js"></script>
{:}

    <link href="{/}css/styles.css" rel="stylesheet">

  </head>
