    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="{/}">BIKE</a>
          <div class="nav-collapse">
            <ul class="nav top-nav">
              <li class="nav-item ajax-in-progress invisible">
                <img width="24" border="0" src="{br}images/progress-small.gif" />
              </li>
              <li class="nav-item" name="query"><a href="#query"   class="section active" data-toggle="tab">Run query</a></li>
              <li class="nav-item" name="recent"><a href="#recent"   class="section" data-toggle="tab">Recent <span class="recent-queries-badge badge">0</span></a></li>
              <li class="nav-item" name="saved"><a href="#saved"   class="section" data-toggle="tab">Saved <span class="saved-queries-badge badge">0</span></a></li>
              <li class="nav-item" name="library"><a href="#library" class="section" data-toggle="tab">Library <span class="library-queries-badge badge">0</span></a></li>
              <li class="nav-item" name="about"><a href="#about"   class="section" data-toggle="tab">About</a></li>
            </ul>
            <ul class="nav top-nav pull-right">
              <li class="divider-vertical"></li>
              <li class="nav-item"><a href="javascript:;">[[config.db.username]]@[[config.db.name]]</a></li>
            </ul>
           </div>        
        </div>
      </div>
    </div>
